.mobile-container {

  margin: auto;
  color: black;

      margin: 0;
    padding: 0;
 margin-left:0px;
    margin-top:0px;
overflow-x: hidden;
}

.card {
  max-width: 480px;
  margin: auto;
  text-align: center;
  font-family:El Messiri;

border: none;
}




.container-fluid{
  margin: auto;
 
   max-width: 500px;
  margin: auto;
  color: black;
      margin: 0;
    padding: 0;
 margin-left:0px;
    margin-top:0px;
overflow-x: hidden;
}


.container-fluid img {
  width:100%;
 text-align: center;
}

.container-fluid .btn {
  position: absolute;
  top: 5%;
  right: 2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #3f3534;
  font-size: 10px;
 padding-top: 4px;
 padding-bottom: 0px;

  border: none;
  border-radius: 60px;
  border-width: 0px;
  text-align: center;
  float: center;
   opacity: 0.4;
}





h3{

color: #232c69;
   font-weight: bold;
   font-size: 16px;
   font-display: swap;
   font-family:El Messiri;
   float: center;
    padding-top: 5px;
}


p{
font-size: 12px;
  font-family:El Messiri;
  font-display: swap;

}


.det{

color: #232c69;
font-size: 12px;
  padding: 5px;
  padding-bottom: 0px;
font-family:El Messiri;

}


.alignleft {
  float: left;

   color:#232c69;
   white-space: nowrap;

  padding-left: 85px;

}
.alignright {
 float: right;
    color:#232c69;

  padding-right: 85px;
}

.aligncenter {
 float: center;
    color:#232c69;

  padding-right: 85px;
}
        /* Card image loading */
    
        .card__image.loading {
           
            width: 400px;
        }
       
        /* Card title */
 
       
        /* The loading Class */
        .loading {
            position: relative;
            background-color: #e2e2e2;
        }
       
       
