$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?9bc209d25d61beec2e572c2e066fb491") format("truetype"),
url("./flaticon.woff?9bc209d25d61beec2e572c2e066fb491") format("woff"),
url("./flaticon.woff2?9bc209d25d61beec2e572c2e066fb491") format("woff2"),
url("./flaticon.eot?9bc209d25d61beec2e572c2e066fb491#iefix") format("embedded-opentype"),
url("./flaticon.svg?9bc209d25d61beec2e572c2e066fb491#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "calorie": "\f101",
    "right-arrow-angle": "\f102",
    "restaurant": "\f103",
    "restaurant-1": "\f104",
    "dish": "\f105",
    "food": "\f106",
    "food-1": "\f107",
    "restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle": "\f108",
    "hamburger": "\f109",
    "cola": "\f10a",
    "green-sause": "\f10b",
);

.flaticon-calorie:before {
    content: map-get($flaticon-map, "calorie");
}
.flaticon-right-arrow-angle:before {
    content: map-get($flaticon-map, "right-arrow-angle");
}
.flaticon-restaurant:before {
    content: map-get($flaticon-map, "restaurant");
}
.flaticon-restaurant-1:before {
    content: map-get($flaticon-map, "restaurant-1");
}
.flaticon-dish:before {
    content: map-get($flaticon-map, "dish");
}
.flaticon-food:before {
    content: map-get($flaticon-map, "food");
}
.flaticon-food-1:before {
    content: map-get($flaticon-map, "food-1");
}
.flaticon-restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle:before {
    content: map-get($flaticon-map, "restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle");
}
.flaticon-hamburger:before {
    content: map-get($flaticon-map, "hamburger");
}
.flaticon-cola:before {
    content: map-get($flaticon-map, "cola");
}
.flaticon-green-sause:before {
    content: map-get($flaticon-map, "green-sause");
}
